import /init.recovery.project.rc

on init
    setprop sys.usb.configfs 1
    setprop sys.usb.controller "11201000.usb0"
    setprop sys.usb.ffs.aio_compat 1

on boot
    insmod /vendor/lib/modules/bootinfo.ko
    insmod /vendor/lib/modules/touchpanel_event_notify.ko
    insmod /vendor/lib/modules/focaltech_tp.ko

on fs && property:ro.debuggable=0
    start adbd
